body {
  margin: 0;
  padding: 0;
}
.font, .font * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
.reset {
  margin: 0;
  padding: 0;
}
.login-page {
  background: url(./assets/images/background-netflix.jpg);
  margin: 0;
  padding: 0;
}
.button {
  background-color: #414141b9;
  border: none;
  border-radius: 5px;
  padding: 9px;
  font-size: 16px;
}