body {
    background-color: rgb(255, 242, 171);
}

#box {
    width: 200px; height: 200px;
    background-color: brown;
    
    margin: 10px;
    border-radius: 10px 40px;
    box-sizing: border-box;
}

#picapau {
    width: 400px;
    border-radius: 100px;
}